<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jenna.pennypilot.domain.transaction.mappers.TransactionMapper">

    <sql id="selectTransactionSql">
        SELECT TR.ID               AS id,
               TR.ACCOUNT_ID       AS accountId,
               AC.BANK_NAME        AS bankName,
               AC.ACCOUNT_NAME     AS accountName,
               AC.ACCOUNT_TYPE     AS accountType,
               TR.CTG_ID           AS ctgId,
               CTG.CTG_NM          AS ctgNm,
               TR.AMOUNT           AS amount,
               TR.TRANSACTION_TYPE AS transactionType,
               TR.TRANSACTION_DATE AS transactionDate,
               TR.DESCRIPTION      AS description
        FROM TRANSACTIONS TR
                 INNER JOIN ACCOUNTS AC
                            ON TR.ACCOUNT_ID = AC.ID
                 INNER JOIN CATEGORIES CTG
                            ON TR.CTG_ID = CTG.ID
    </sql>

    <select id="selectAllTransactionsByMonth"
            parameterType="com.jenna.pennypilot.domain.transaction.dtos.PeriodParamDTO"
            resultType="com.jenna.pennypilot.domain.transaction.dtos.TransactionResultDTO"
    >
        /* TransactionMapper.selectAllTransactionsByMonth */
        <include refid="selectTransactionSql"/>
        WHERE TO_CHAR(TR.TRANSACTION_DATE, 'YYYY-MM') = #{transactionPeriod}
        AND AC.USER_ID = #{userId}
        ORDER BY TR.TRANSACTION_DATE DESC, ID DESC
    </select>

    <select id="selectDailyTotalsByMonth"
            parameterType="com.jenna.pennypilot.domain.transaction.dtos.PeriodParamDTO"
            resultType="com.jenna.pennypilot.domain.transaction.dtos.monthly.DailyTransactionDTO"
    >
        /* TransactionMapper.selectDailyTotalsByMonth */
        SELECT TO_CHAR(TR.TRANSACTION_DATE, 'YYYY-MM-DD')                               AS day,
               SUM(CASE WHEN TR.TRANSACTION_TYPE = 'income' THEN TR.AMOUNT ELSE 0 END)  AS totalIncome,
               SUM(CASE WHEN TR.TRANSACTION_TYPE = 'expense' THEN TR.AMOUNT ELSE 0 END) AS totalExpense
        FROM TRANSACTIONS TR
                 INNER JOIN ACCOUNTS AC ON TR.ACCOUNT_ID = AC.ID
        WHERE TO_CHAR(TR.TRANSACTION_DATE, 'YYYY-MM') = #{transactionPeriod}
          AND AC.USER_ID = #{userId}
        GROUP BY TO_CHAR(TR.TRANSACTION_DATE, 'YYYY-MM-DD')
        ORDER BY day DESC
    </select>

    <select id="selectTypeTotalsByPeriod"
            parameterType="com.jenna.pennypilot.domain.transaction.dtos.PeriodParamDTO"
            resultType="com.jenna.pennypilot.domain.transaction.dtos.ctg.TotalByTypeDTO"
    >
        /* TransactionMapper.selectTypeTotalsByPeriod */
        SELECT TR.TRANSACTION_TYPE AS transactionType,
               SUM(AMOUNT)         AS totalAmount
        FROM TRANSACTIONS TR
                 INNER JOIN ACCOUNTS AC ON TR.ACCOUNT_ID = AC.ID
        WHERE TO_CHAR(TR.TRANSACTION_DATE, #{periodFormat}) = #{transactionPeriod}
          AND AC.USER_ID = #{userId}
        GROUP BY TR.TRANSACTION_TYPE
        ORDER BY transactionType DESC
    </select>

    <select id="selectCtgTotalsByPeriod"
            parameterType="com.jenna.pennypilot.domain.transaction.dtos.PeriodParamDTO"
            resultType="com.jenna.pennypilot.domain.transaction.dtos.ctg.TotalByCtgDTO"
    >
        /* TransactionMapper.selectCtgTotalsByPeriod */
        SELECT TR.TRANSACTION_TYPE AS transactionType,
               TR.CTG_ID           AS ctgId,
               CTG.CTG_NM          AS ctgNm,
               SUM(AMOUNT)         AS totalAmount
        FROM TRANSACTIONS TR
                 INNER JOIN ACCOUNTS AC
                            ON TR.ACCOUNT_ID = AC.ID
                 INNER JOIN CATEGORIES CTG
                            ON TR.CTG_ID = CTG.ID
        WHERE TO_CHAR(TR.TRANSACTION_DATE, #{periodFormat}) = #{transactionPeriod}
          AND AC.USER_ID = #{userId}
        GROUP BY TR.CTG_ID, CTG.CTG_NM, TR.TRANSACTION_TYPE
        ORDER BY totalAmount DESC
    </select>

    <select id="selectOneTransactionById" parameterType="java.lang.Integer"
            resultType="com.jenna.pennypilot.domain.transaction.dtos.TransactionResultDTO">
        /* TransactionMapper.getOneTransactionById */
        <include refid="selectTransactionSql"/>
        WHERE TR.ID = #{id}
    </select>

    <insert id="addTransaction" parameterType="com.jenna.pennypilot.domain.transaction.dtos.TransactionDTO"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        /* TransactionMapper.addTransaction */
        INSERT INTO TRANSACTIONS(ACCOUNT_ID, CTG_ID, AMOUNT, TRANSACTION_TYPE, TRANSACTION_DATE, DESCRIPTION)
        VALUES (#{accountId}, #{ctgId}, #{amount}, #{transactionType}, #{transactionDate}, #{description})
    </insert>

    <insert id="updateTransaction" parameterType="com.jenna.pennypilot.domain.transaction.dtos.TransactionDTO">
        /* TransactionMapper.updateTransaction */
        UPDATE TRANSACTIONS
        SET ACCOUNT_ID       = #{accountId},
            CTG_ID           = #{ctgId},
            AMOUNT           = #{amount},
            TRANSACTION_TYPE = #{transactionType},
            TRANSACTION_DATE = #{transactionDate},
            DESCRIPTION      = #{description},
            UPDATED_AT       = SYSDATE
        WHERE ID = #{id}
    </insert>

    <insert id="deleteTransaction" parameterType="java.lang.Integer">
        /* TransactionMapper.deleteTransaction */
        DELETE
        FROM TRANSACTIONS
        WHERE ID = #{id}
    </insert>

</mapper>
