.test-button {
  margin-bottom: 20px;
}

.transaction-detail {
  line-height: 1.2rem;

  .transaction-description {
    margin-top: 1px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .transaction-time {
    font-size: 11px;
    margin-right: 8px;
  }
}

